<!DOCTYPE html>
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <button class="btn btn-primary">hola</button>
    <%- include('../partials/head') %>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>