<nav class="nav-bar">
    <div class="nav-bar-left">
        <div>
            <a class="navbar-brand logo" href="/index">
                <i class="bi bi-globe-americas"></i> Planning Travel
            </a>
        </div>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>
    <div class="responsive-bar">
        <div class="search-bar d-flex">
            <form action="#" role="search" class="d-flex align-items-center">
                <input
                class="input-search"
                placeholder="¿Dónde quieres ir?"
                type="text"
                name="nombre"
            />
            <button class="btn-search"><i class="bi bi-search"></i></button>
            </form>
        </div>
        <div class="nav-bar-btns btn-dropdown d-flex">
            <a href="/duenoHoy"  class="btn-publicar">Hazte anfitrión</a>
            <div class="btn-profile d-flex">
                <div>
                    <i class="bi bi-list"></i>
                </div>
                <div style="width: 35px; height: 35px; border-radius: 50%; background-color: black; color: white; display: flex; justify-content: center; align-items: center;">
                                    <p style="margin: 0;font-size: 14px;"></p>
                                </div>
                <div>
                    <i class="bi bi-person-circle"></i>
                </div>      
            </div>
                <ul class="dropdown-user">
                <li class="dropdown-elemento"><a href="#">Ver perfil</a></li>
                <li class="dropdown-elemento"><a href="#">Ver favoritos</a></li>
                <li class="dropdown-elemento"><a href="/hoteles">Ver hoteles</a></li>
                <li class="dropdown-elemento"><a href="#">Ver reservas</a></li>
                <li class="dropdown-elemento"><a href="#" class="btn-secondary">Modo admin</a></li>
                <li class="dropdown-elemento"><a href="#">Cerrar Sesión</a></li>
            </ul>
            <ul class="dropdown-user">
                <li class="dropdown-elemento"><a href="#">Iniciar Sesion</a></li>
                <li class="dropdown-elemento"><a href="#">Registrarse</a></li>
            </ul>
        </div>
    </div>
</nav>