<nav class="nav-bar navbar">
    <div>
        <a class="navbar-brand logo" href="/index">
            <i class="bi bi-globe-americas"></i>Planning Travel
        </a>
    </div>
    <div class='nav-bar'>
        <li><a class="navbar_item" href="#">Hoy</a></li>
        <li><a class="navbar_item" href="#">Hotel</a> </li>
        <li><a class="navbar_item" href="#">Mensajes</a> </li>
        <li class="nav-item dropdown">
            <a class="navbar_item dropdown-togglem " href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown">Menú <i class="bi bi-caret-down-fill"></i></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Info</a></li>
                <li><a class="dropdown-item" href="#">Ingresos</a></li>
                <li><a class="dropdown-item" href="#">Reservaciones</a></li>
            </ul>
        </li>
    </div>
    <div>
        <a class="navbar-button" href="#"><img class="foto" src="/img/batman.jpeg" alt=""></a>
    </div>
</nav>